@use "../../Styles/mixins" as *;
@use "../../Styles/variable" as *;

.wrapper {
    @include body-400;
    margin-top: 2rem;
    display: flex;

    .background {
        width: 100%;
        outline: 1px solid #fff;
        cursor: pointer;
        transition: all 0.1s ease-in;
        display: flex;
        flex-direction: column;
        &:hover {
            background-color: #fff;
            outline: none;

            .des {
                color: #000;


            }
        }

        &:active {
            background-color: $accent-color;

            .tags {
                div:not(:has(svg)) {
                    border: 1px solid #000;
                }

            }
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    .tags {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 12px;
    }

    .des {
        height: 180px;
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 0.75rem;
        justify-content: space-between;
        .name {
            min-height: 4.5rem;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .price {
            @include body-500;
            font-size: 1.75rem;
        }

        .sale {
            display: flex;
            align-items: start;
            gap: 10px;
            .oldPrice {
                font-size: 0.75rem;
                color: $accent-color;
                text-decoration: line-through;
            }
        }

        .sold {
            strong {
                font-weight: bolder;
            }

            font-size: 10px;
            color: $accent-color;
        }
    }
}