$primary-color: #171717;
$secondary-color: #272727;
$accent-color: #535353;

$heading-font: "Inclusive Sans", sans-serif;
$body-font:  "Montserrat", sans-serif;
$font-400: 400;
$font-500: 500;
$font-600: 600;

$grid-columns: 12;
$gutter-width: 10px;
$max-width: 1200px;


